apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- rbac.yaml
- ingress.yaml

labels:
- includeSelectors: true
  pairs:
    app: crd-wizard

images:
- name: ghcr.io/pehlicd/crd-wizard
  newTag: latest
