apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: crd-wizard
rules:
  # Access to list and watch all CustomResourceDefinitions
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
  # Access to dynamically discover and read all custom resources across all API groups
  # This is required because CRD Wizard needs to list instances of any CRD in the cluster
  - apiGroups:
      - "*"
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
  # Access to read events for custom resources
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - get
      - list
      - watch
