apiVersion: v1
kind: Service
metadata:
  name: crd-wizard
  namespace: crd-wizard
  labels:
    app: crd-wizard
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: crd-wizard
